/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #76b2fe, #b69efe);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        max-width: 300px;
        padding: 20px;
    }

    header h1 {
        font-size: 2em;
    }

    #weather-icon {
        width: 60px;
        height: 60px;
    }

    .forecast-day {
        width: 50px;
    }
}

header {
    margin-bottom: 10px;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
}

#local-time {
    margin-top: 10px;
    font-size: 1em;
}

#search-section {
    margin-bottom: 20px;
}

#search-section input {
    padding: 10px;
    width: 65%;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

#search-section button {
    padding: 10px;
    border: none;
    background-color: #ff6b6b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-section button:hover {
    background-color: #34f8eb;
}

#unit-toggle {
    background-color: #2ecc71;
    margin-left: 10px;
}

/* Weather Alert */


/* Weather Info */
#weather-info {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#weather-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#weather-info p {
    font-size: 1.2em;
    margin: 8px 0;
}

#weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

/* 5-Day Forecast */
#forecast {
    margin-top: 20px;
}

#forecast-days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.forecast-day {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    margin: 10px;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}
